<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{{ site.title }}</title>

	{%- for script in site.data.head.js -%}
	<script type="text/javascript" src="{{ script }}"></script>
	{%- endfor -%} {%- for styles in site.data.head.style -%} {%- if style.local -%}

	<link rel="stylesheet" href="{{ styles | prepend: site.url }}" />
	{%- else -%}
	<link rel="stylesheet" href="{{ styles }}" />
	{%- endif -%} {%- endfor -%}
</head>
