
<nav class=" bg-indigo-900 md:bg-transparent mb-4">
	<div class="mx-auto p-2">
		<div class="flex justify-between min-w-100">
			<!-- Website Logo -->
				<a href="#" class="block h-12 w-12">
					<img src="{{site.logo}}" alt="Logo" class="h-auto" />
				</a>
			<div class="flex mx-auto justify-center items-center">
			
					
				<!-- Primary Navbar items -->
				<div class="hidden space-x-7 md:flex justify-center items-center font-fred">
					{%- for nav_item in site.data.nav -%}
						<a href="{{ nav_item.link }}">
							{{ nav_item.title | capitalize }}
						</a>
						<img class="{{ nav_item.icon }}"/>
					{%- endfor -%}
				</div>
			</div>
			<!-- Secondary Navbar items -->
			<div class="hidden md:flex items-center space-x-3">
				{%- comment -%} <i class="fas fa-globe"></i> {%- endcomment -%}
			</div>
			<!-- Mobile menu button -->
			<div class="md:hidden flex items-center">
				<button class="mobile-btn mx-4">
					<i class="mobile-menu-btn text-2xl fas fa-bars"></i>
				</button>
			</div>
		</div>
	</div>
	<!-- mobile menu -->
	<div class="hidden md:hidden mobile-menu pb-2">
		<ul class="mr-1 space-y-2">
			{%- for nav_item in site.data.nav -%}
			<li class='text-right list-item'>
				<a class="font-fred items-end text-2xl" href="{{nav_item.link}}">{{ nav_item.title | | capitalize }}<i class="ml-4 mr-5 {{nav_item.icon}}"></i></a>
			</li>
			{%- endfor -%}
		</ul>
	</div>
</nav>
