<div class="mx-auto terminal">
	<div class="bar">
		<div class="close"></div>
		<div class="max"></div>
		<div class="min"></div>
	</div>
	<div class="terminal-content">
		<div class="relative flex flex-col p-4">
			<div class="flex flex-row items-baseline justify-center">
				<h1 class="text-green-500 text-7xl text-outline-sm">
					{{ site.title | slice: 0, 6 }}
				</h1>
				<h2 class="text-6xl text-indigo-500 text-outline-sm">
					{{ site.title | slice: -4, 4 }}
				</h2>
			</div>

			<br />
			<div class="flex justify-center px-2 text-sm text-green-600 font-hack">
				<span class="relative ml-1 text-green-400">
					{{ site.description }}
					<div class="absolute bottom-0 w-1 h-5 -right-px blink-border"></div>
				</span>
			</div>
		</div>
	</div>
</div>
